<% title "Lista de operadores" %>

<table>
  <tr>
    <th>Nombre</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= user.nombre %></td>
      <td><%= link_to "Datos personales", user %></td>
      <td><%= link_to "Cambiar", edit_user_path(user) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Añadir operador", new_user_path %></p>
